#load-background {
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  position: absolute;
  top: 0px;
  z-index: 10000;
}

.hide-background {
  display : none;
}

.show-background {
  display : block;
}

.loading-display {
  width: 300px;
  height: 100px;

  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;

  margin: auto;
  text-align: center;
  font-family:Arial,Helvetica,sans-serif;
  font-size:20px;
  color: white;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

.loading-display img {
  margin : auto;
}